<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(view)">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/admin.css}">
</head>
<body>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav hidden-xs">
				<br> <a href="/"><button class="btn btn-warning"
						style="width: 100%;">
						<span class="glyphicon glyphicon-arrow-left"></span> Quay về Shop
					</button></a>
				<h2>Online Store</h2>
				<hr>
				<ul class="nav nav-pills nav-stacked text-lg">
					<li><a href="/admin"><span
							class="glyphicon glyphicon-dashboard"></span> Thống Kê</a></li>
					<li><a href="#" data-toggle="collapse"
						data-target="#myNavbar1"><span
							class="glyphicon glyphicon-shopping-cart"></span> Sản Phẩm <span
							class="caret"></span></a>
						<ul class="nav nav-pills nav-stacked collapse" id="myNavbar1">
							<li class="text-center"><a href="/admin/product"><span
									class="glyphicon glyphicon-hand-right"></span> Quản Lý Sản Phẩm</a></li>
							<li class="text-center"><a href="/admin/category"><span
									class="glyphicon glyphicon-hand-right"></span> Quản Lý LSP</a></li>
						</ul></li>
					<li><a href="/admin/bill"><span
							class="glyphicon glyphicon-list-alt"></span> Hóa Đơn </a></li>
					<li><a href="/admin/users"><span
							class="glyphicon glyphicon-user"></span> Người Dùng</a></li>
				</ul>
				<hr>
				<ul class="nav nav-pills nav-stacked text-lg">
					<li><a href="/login"> <span
							class="glyphicon glyphicon-log-in"></span> Đăng Xuất
					</a></li>
				</ul>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<main th:replace="${view}"></main>
			</div>
		</div>
	</div>

	<footer class="container-fluid text-center">
		<h4>
			Design By <b>Nguyễn Thành Nam &copy; ASS_SOF3021</b>
		</h4>
	</footer>
</body>
</html>